@import "tailwindcss";

:root {
  --background: #FDFCF9;
  --primary-text: #111827;
  --secondary-text: #6B7280;
  --accent: #F97316;
  --card: #FFFFFFCC;
}

body {
  background: var(--background);
  color: var(--primary-text);
  font-family: var(--font-inter);
  width: 100vw;
  overflow-x: hidden;
}